.cover-title-label {
    font-size: larger;
    font-weight: bold;
}

.cover-artist-label {
    font-size: larger;
}

.cover-album-label {
    font-size: larger;
}

.cover-encoding-label {
    font-size: smaller;
}

.cover-sampling-label {
    font-size: smaller;
}

.cover-resolution-label {
    font-size: smaller;
}

.cover-elapsed-time-label {
    /*font-size: smaller;*/
    font-style: italic;
}
.cover-separator-label {
    font-style: italic;
}

.cover-duration-label {
    /*font-size: smaller;*/
    font-style: italic;
}
